* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.header {
    background-color: #222;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}


.product {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
}

.product button {
    margin-top: 10px;
    padding: 6px 10px;
    cursor: pointer;
}
